@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  background: linear-gradient(rgb(25,25,25), black);
  width: 100vw;
  height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 10px;
}

#calculator{
  max-width: 400px;
  padding: 24px;
  background-color: #f5f5f5;
  border-radius: 1rem;
}

#display{
  min-height: 4rem;
  background-color: #e4e4e4;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 1.5rem;
  text-align: right;
  font-size: 26px;
  overflow-wrap: break-word;
}

.buttons-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  padding: 10px 0;
}

.buttons-container button{
  border: 1px solid #cacaca;
  min-width: 78px;
  height: 72px;
  background-color: #ffffff;
  font-size: 28px;
  border-radius: 0.5rem;
  cursor: pointer;
}


.buttons-container .number{
  background-color: #e4e4e4;
}

.buttons-container button:hover{
  background-color: #b8b8b8;
}

.buttons-container #btn-c{
  grid-column: span 2;
}

.buttons-container #equal-btn{
  display: flex;
  align-items: center;
  justify-content: center ;
  grid-column: span 2;
  background-color: rgb(255, 136, 0);
  color: #f5f5f5;
  font-size: 28px;
  border-radius: 0.5rem;
  cursor: pointer;
}

.buttons-container #equal-btn:hover{
  background-color: rgb(224, 120, 0);
}

@media (max-width: 400px){
  #calculator, .buttons-container{
    min-width: auto;
  }

  .buttons-container button{
    min-width: auto;
    min-height: auto;
  }
}


